scipy==1.7.1
tqdm
transformers==4.6.1
trimesh==3.9.27
pyrender==0.1.45
opencv-python
protobuf==3.20.1
omegaconf==2.0.0
pytorch-lightning==1.0.8
smplx
chumpy
setuptools==59.5.0
numpy==1.22.0
flwr
pandas
matplotlib